ul, ol{
margin-left: -1.25em;
margin-right: 1em;
font-size: 13px;
}

#profile_body{
display: block;
margin-left: 1em;
margin-top: 1em;
margin-bottom: 1em;
justify-content: center;
}

#profile_body_01,#profile_body_02{
width: 96%;
height: auto;
}

.profile_text{
font-size: 13px;
margin-top: -0.75em;
padding-bottom: 0.75em;
width: 100%;
overflow: auto;
}

.gameprofile_list{
font-size: 12px;
line-height: 150%;
}

#profiles_overall input:nth-of-type(1), #profiles_overall input:nth-of-type(1) ~ div:nth-of-type(1),
#profiles_overall input:nth-of-type(2), #profiles_overall input:nth-of-type(2) ~ div:nth-of-type(2),
#profiles_overall input:nth-of-type(3), #profiles_overall input:nth-of-type(3) ~ div:nth-of-type(3),
#profiles_overall input:nth-of-type(4), #profiles_overall input:nth-of-type(4) ~ div:nth-of-type(4){display:none;}

#profiles_overall input:nth-of-type(1):checked ~ div:nth-of-type(1),
#profiles_overall input:nth-of-type(2):checked ~ div:nth-of-type(2),
#profiles_overall input:nth-of-type(3):checked ~ div:nth-of-type(3),
#profiles_overall input:nth-of-type(4):checked ~ div:nth-of-type(4){display:block;}

#profiles_overall input:nth-of-type(1):checked ~ label:nth-of-type(1), #profiles_overall > label[for=section_01]:hover,
#profiles_overall input:nth-of-type(2):checked ~ label:nth-of-type(2), #profiles_overall > label[for=section_02]:hover,
#profiles_overall input:nth-of-type(3):checked ~ label:nth-of-type(3), #profiles_overall > label[for=section_03]:hover,
#profiles_overall input:nth-of-type(4):checked ~ label:nth-of-type(4), #profiles_overall > label[for=section_04]:hover{
background-color: #000000;
color: #FFFFFF;
}

#profiles_overall > label{
display: inline-block;
font-size: 0.8em;
text-align: center;
padding: 0.15em 0.25em 0.15em 0.25em;
width: 20%;
line-height: 1.8em;
border-radius: 2px 2px 0 0;
background: #eee;
border: 1px solid #000000;
border-width: 1px 1px 0;
}

#profiles_overall > label:hover{cursor: pointer;}


#profiles_overall .profile_s01, #profiles_overall .profile_s02, #profiles_overall .profile_s03, #profiles_overall .profile_s04, #profiles_overall .profile_s05{
padding-left: 0.5em;
padding-top: 1.25em;
border: 1px solid #ddd;
width: 95%;
height: 100%;
overflow: auto;
}
